$dark-theme: (
  Toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)),
  BG: #1e202a,
  Top-BG-Pattern: #1f212e,
  Card-BG: #252a41,
  Text: hsl(228, 34%, 66%),
  White: hsl(0, 0%, 100%),
);

.body-bg-dark {
  background: map-get($dark-theme, BG);
}

.bg-top-dark {
  background: map-get($dark-theme, Top-BG-Pattern);
  z-index: -100;
}

.big-card-dark {
  background: map-get($dark-theme, Card-BG);
}

.light-text {
  color: map-get($dark-theme, White);
}
